@charset "UTF-8";
/* CSS Document */

/* Set Body Family Font */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set Headers as Bold */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Set Height */
.height-top-down {
    padding: 100px 0;
}

/* Set Scrollbar */
.sps--abv {
    background-color: transparent;
    color: #000000;
}

.sps--blw {
    background-color: #2b2b2b;
    color: #fff
}

nav.sps--abv .logo {
    width: 180px;
}

/* Set logo */
.logo {
    width: 150px;
    padding: 10px 0;
}
/* Set Icon Social Media size */
.iconsSM {
    width: 20px;
    margin: 10px 5;
}

/* Set Banner Video */
.banner-video {
    background-image: url(Resources/video-banner-dark.jpg);
    padding: 200px 0 ;
    position: relative;
    text-align: center;
    margin-top: 160px;
}

/* Set Complex Selector */
.banner-video .play {
    width: 80px;
    height: 80px;
    position: relative;
}

/* Set Carousel */
.carousel-caption {
    position: absolute;
    top: 80%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
    text-align: center;
}

.btn-light {
    color: #ffffff;
    background-color: transparent;
    border-color: #fafafa;
    border: 20px solid #fff;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* CREATE & SET COMPARISON CONTAINER */
.comparison-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.comparison-details {
    position: static;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

/* SET IMAGE TRANSITION */
.comparison-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

/* SET IMAGE EFFECT */
.comparison-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.comparison-details h2 {
    margin-bottom: 40px;
}

.comparison-details a h2, .comparison-details a p {
    color: rgb(104, 18, 61);
    font-weight: bolder;
    margin-bottom: 40px;
}

/* Set Comparison Page */
.header-comparison {
    padding:  150px 0 100px 0;
    background-image: url("Resources/banner-pexels.jpg");
    background-position: center center;
    background-size: cover;
}

.header-comparison {
    color: whitesmoke;
}

.white-text {
    color: whitesmoke;    
}

.banner-comparison {
    padding: 200px 0 100px 0;
    background-image: url(Resources/banner-pexels.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.header-comparison {
    padding: 150px 0 100px 0;
    background-image: url(Resources/video-banner-dark.jpg);
    background-position: center center;
    background-size: unset;
}

.header-comparison h1, .header-comparison h2 {
    color: whitesmoke;
}

footer {
    background-color: grey;
    padding: 40px 0;
    text-align: center;
}

footer.logo-footer {
    width: 200px;
    margin-bottom: 20px;
}

footer p {
    color:black;
    font-size: 12px;

}