@charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Set Height */
.height-top-down {
    padding: 100px 0;
}

/* Set logo */
.logo {
    width: 150px;
    padding: 15 px;
}
/* Set Icon RS size */
.iconosRS {
    width: 20px;
    margin: 10px 5;
}

carousel-caption {
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: lawngreen;
    text-align: center;
}

.btn-light {
    color: #ffffff;
    background-color: transparent;
    border-color: #fafafa;
    border: 20px solid #fff;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Set Compariso Page */
.header-comparison {
    padding:  150px 0 100px 0;
    background-image: url("Resources/banner-pexels.jpg");
    background-position: center center;
    background-size: cover;
}

.header-comparison {
    color: whitesmoke;
}

.white-text {
    color: whitesmoke;    
}

.banner-comparison {
    padding: 200px 0 100px 0;
    background-image: url(Resources/banner-pexels.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

footer {
    background-color: grey;
    padding: 40px 0;
    text-align: center;
}

footer. logo-footer {
    width: 200px;
    margin-bottom: 20px;
}

footer p {
    color: indigo;

}